"""
House the settings for your modules, and your project in general, here.
"""

#The remote hosts you'll be deploying this project to.
HOSTS = ["192.168.0.1"]

#The unix user that will be the owner of this project
PROJECT_USER = "aremind"

#Deploy modules we'll be utilizing in this project
MODULES = ["os",
           "web",
           "util",
           "django",
           "packages"]

##### OS MODULE SPECIFIC SETTINGS ######
OS_PACKAGE_LIST_PATH_REDHAT = "yum_packages.txt" #each package on a new line in this file
OS_PACKAGE_LIST_PATH_UBUNTU = "apt_packages.txt" #each package on a new line in this file

##### PACKAGES MODULE SPECIFIC SETTINGS ######
PACKAGES_PIP_REQUIRES_PATH = "pip_requires.txt"

##### DJANGO MODULE SPECIFIC SETTINGS ######
DJANGO_GIT_REPO_URL = "git://your/repo.git"

##### WEB MODULE SPECIFIC SETTINGS ######
WEB_HTTPD = "apache" #apache2 or nginx
WEB_CONFIG_TEMPLATE_PATH = "templates/my_apache.conf"
WEB_PARAM_DICT = {
    "HOST_PORT" : 80 #Primary port for hosting things
}
##### SUPERVISOR MODULE SPECIFIC SETTINGS ######
SUPERVISORCTL_TEMPLATE_PATH = "templates/supervisorctl.conf"
SUPERVISORD_TEMPLATE_PATH = "templates/supervisord.conf"
SUPERVISOR_DICT = {
    "gunicorn_port": "9010",
    "gunicorn_workers": 3
}

##### UTILS MODULE SPECIFIC SETTINGS ######
#some stuff...

